<h1>Change password</h1>
<h6>{{ subTitle }}</h6>

<form
  #changePasswordForm="ngForm"
  *ngIf="reAuthenticated$ | async"
  (ngSubmit)="onChangedPasswordSubmitted()"
>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      required
      minlength="6"
      type="password"
      name="password"
      id="password"
      class="form-control"
      [class.is-invalid]="password.invalid && password.touched"
      [(ngModel)]="newPassword"
      #password="ngModel"
    />
    <div
      class="invalid-feedback"
      *ngIf="password.errors?.required && password.touched"
    >
      Password is required
    </div>
    <div
      class="invalid-feedback"
      *ngIf="password.errors?.minlength && password.touched"
    >
      Minimum length of the password is 6
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="changePasswordForm.invalid"
  >
    Change password
  </button>
</form>

<app-login
  [isReAuthenticateRequest]="true"
  *ngIf="!(reAuthenticated$ | async)"
></app-login>
