<section class="section">
  <div class="container">
    <div *ngIf="!submitted">
      <h2>Forgot password?</h2>
      <form #forgotPasswordForm="ngForm" (ngSubmit)="onPasswordReset()">
        <div class="form-group">
          <label for="email">Enter your email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            #email="ngModel"
            [(ngModel)]="passwordResetRequest.email"
          />
        </div>
        <button type="submit" class="btn btn-primary">Reset password</button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h3>We've sent a reset password link to your email.</h3>
    </div>
  </div>
</section>
