<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/tasks">Todo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/"> Dashboard </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="!(isAuthenticated$ | async)"
        >
          <a class="nav-link" href="#" routerLink="/auth/login">Login</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="!(isAuthenticated$ | async)"
        >
          <a class="nav-link" href="#" routerLink="/auth/signup">Sign up</a>
        </li>
        <li
          class="nav-item dropdown account-dropdown"
          *ngIf="isAuthenticated$ | async"
        >
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            *ngIf="user$ | async as user"
          >
            {{ user.email }}
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="/auth/change-password"
              >Change password</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="onSignout($event)"
              >Sign out</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
