<section class="section">
  <div class="container">
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-md-8">
        <table
          class="table table-condensed"
          *ngIf="(completedTasks$ | async).length"
        >
          <thead>
            <th>Description</th>
            <th>Created Date</th>
            <th>Finished Date</th>
          </thead>
          <tbody>
            <tr *ngFor="let task of completedTasks$ | async" id="task.id">
              <td>{{ task.description }}</td>
              <td>{{ task.createdDate | todoTimestamp: "short" }}</td>
              <td>{{ task.finishedDate | todoTimestamp: "short" }}</td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="!(completedTasks$ | async).length">
          No completed tasks yet.
        </h4>
      </div>
    </div>
  </div>
</section>
