<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <span class="navbar-brand">Todo</span>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="!(isAuthenticated$ | async)"
      >
        <a class="nav-link" href="#" routerLink="/auth/signup">Sign up</a>
      </li>
      <li class="nav-item" *ngIf="user$ | async as user" ngbDropdown>
        <a
          class="nav-link dropdown-toggle"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown1"
          role="button"
        >
          {{ user.email }}
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu dropdown-menu-right"
        >
          <a
            ngbDropdownItem
            class="dropdown-item"
            href="#"
            routerLink="/auth/change-password"
            >Change password</a
          >
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" href="#"> Sign out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<section class="section">
  <div class="container-fluid">
    <h1 class="mb-5">Dashboard</h1>

    <button class="btn btn-primary mb-3" (click)="openModal()">
      Add a new task
    </button>

    <div class="row">
      <div class="col-sm-9">
        <app-ongoing-tasks></app-ongoing-tasks>
      </div>

      <div class="col-md-3">
        <app-completed-tasks></app-completed-tasks>
      </div>
    </div>
  </div>
</section>

<app-modal #modal [modalConfig]="modalConfig">
  <form #addTaskForm>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        required
        name="description"
        id="description"
        class="form-control"
        [class.is-invalid]="description.errors?.required && description.touched"
        [(ngModel)]="task.description"
        #description="ngModel"
      ></textarea>
      <span
        class="invalid-feedback"
        *ngIf="description.errors?.required && description.touched"
      >
        Description is required
      </span>
    </div>
    <div class="form-group">
      <select
        name="status"
        id="status"
        class="form-control"
        [(ngModel)]="task.status"
        #status="ngModel"
      >
        <option
          *ngFor="let stat of keys(taskStatus)"
          [value]="taskStatus[stat]"
        >
          {{ convertStatus(stat) }}
        </option>
      </select>
    </div>
  </form>
</app-modal>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
    Toggle dropdown
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
  </div>
</div>
